

  <form id='update-job' data-id='{{job.id}}'>
    Customer Name:<br>
    <input type="text" name="job[Customer]" value="{{job.Customer}}" required>
  <br>
  Worker Name:<br>
  <input type="text" name="job[Worker]" value="{{job.Worker}}" required>
  <br>
  Price of Job:<br>
  <input type="text" name="job[Price]" value="{{job.Price}}" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
  <br>
  Address:<br>
  <input type="string" name="job[Address]" value="{{job.Address}}" required>
  <br>
  Date:<br>
  <input type="date" name="job[Date]" value="{{job.Date}}">
  <br>
  Time:<br>
  <input type="time" name="job[Time]" value="{{job.Time}}" required>
  <br>
  Status:<br>
  <select name="job[status]" value="{{job.status}}" size="3" required>
    <option value="Open">Open</option>
    <option value="Closed">Closed</option>
    <option value="In-Progress">In-Progress</option>
  </select>
  <br>
  <input id="update-button" type="submit" value="Update Job">
</form>
